.poster {
    width: 20%;
    height: 20%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.large-input {
    font-size: 1.5rem;
}

.button-submit {
    font-size: 1.25em;
    /* 20px ÷ 16px = 1.25em */
    background-color: #ffffff;
    color: black;
    padding: 0.875em 1.25em;
    /* 14px ÷ 16px = 0.875em, 20px ÷ 16px = 1.25em */
    margin: 0.5em 0;
    /* 8px ÷ 16px = 0.5em */
    border: none;
    border-radius: 0.25em;
    /* 4px ÷ 16px = 0.25em */
    cursor: pointer;
}