/* You can add global styles to this file, and also import other style files */
body {
    /* background color */
    background-color: rgb(6, 166, 219);
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}